.carousel-item {
  /* transition: opacity 1s ease-in-out; */
  opacity: 0;
  /* background-color: #777; */
  /* color: #fff; */
  /* min-height: 100vh; */
  

}

.carousel-item.active {
  opacity: 1;
}

.News {
  padding: 50px 0;
}

#navbar {
  overflow-x: unset;
  /* margin-bottom: 5px; */
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

#navbar a:hover {
  color: #f97D09;
}


  #carouselslide {
z-index: 1; /* Set a lower z-index value for the carousel */

}

@media (max-width: 600px) {
  .logo {
    margin-top: 5%; 
    /* Adjust the value as needed */
  }
}

 .carousel-inner img {
  width: 100%;
  height: 100%;
} 
/* timeline */
/* body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
} */

.a {
  /* color: #ffffcc; */
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a.selected {
  color: rgb(236, 243, 243);
}

h1,
h2,
h4,
h5,
h6 {
  text-align: center;
  /* color: #ccc; */
  /* text-shadow: #000 1px 1px 2px; */
  margin-bottom: 5px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

.sociales {
  text-align: center;
  margin-bottom: 20px;
}

#timeline {
  width: 800px;
  height: 350px;
  overflow: hidden;
  margin: 100px auto;
  /* position: relative; */
  /* background: url('../images/dot.gif') left 45px repeat-x; */
}

#dates {
  width: 800px;
  height: 60px;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0;
}

#dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  /* background: url('../images/biggerdot.png') center bottom no-repeat; */
}

#dates a {
  line-height: 38px;
  padding-bottom: 10px;
}

#dates .selected {
  font-size: 38px;
}

#issues {
  width: 800px;
  height: 350px;
  overflow: hidden;
  padding: 5% ;
}

#issues li {
  width: 800px;
  height: 350px;
  list-style: none;
  float: left;
}

#issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#issues li img {
  float: left;
  margin: 10px 30px 10px 50px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE 8 */
  
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* IE 6 & 7 */
  
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

#issues li h1 {
  /* color: #ffcc00; */
  font-size: 48px;
  /* margin: 20px 0; */
  text-shadow: #000 ;
  text-align: left;
  padding-left: 70px;
}

#issues li p {
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  line-height: 22px;
  text-shadow: #000 ;
  text-align: justify;
  overflow: hidden;
}

#grad_left,
#grad_right {
  width: 100px;
  height: 350px;
  position: absolute;
  top: 0;
}

#grad_left {
  left: 0;
  /* background: url('../images/grad_left.png') repeat-y; */
}

#grad_right {
  right: 0;
  /* background: url('../images/grad_right.png') repeat-y; */
}

#next,
#prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 170px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#next:hover,
#prev:hover {
  background-position: 0 -76px;
}

#next {
  right: 0;
  background:#f97D09;
}

#prev {
  left: 0;
  background: #278d27;
  
}

#next.disabled,
#prev.disabled {
  opacity: 0.2;

}
@media only screen and (max-width: 768px) {
  #timeline {
    width: 90%;
  }
  #issues {
    width: 90%;
  }
}



/* Gallery Section */

/*	gallery */
.News{
    background-color: #ffffff;
    padding: 50px 0;
}
    *{
      padding:0;
      margin:0;
    }
    
    /*	general	*/


    
    /*	gallery */
    
    .gallery-title{
        font-size: 36px;
        color: #3F6184;
        text-align: center;
        font-weight: 500;
        margin-bottom: 70px;
    }
    .filter-button{
        font-size: 18px;
        border: 2px solid #3F6184;
      padding:5px 10px;
        text-align: center;
        color: #3F6184;
        margin-bottom: 30px;
      background:transparent;
    }
    .filter-button:hover,
    .filter-button:focus,
    .filter-button.active{
        color: #ffffff;
        background-color:#3F6184;
      outline:none;
    }
    .gallery_product{
      margin: 0px;
      padding:0;
      position:relative;
      overflow: hidden;
      /* box-shadow:0px 0px 5px 5px  rgb(236, 229, 236); */
      border-radius: 5px 5px 5px 5px; 
      margin-bottom: auto;
    }
    .gallery_product .img-info{
      position: absolute;
        background: rgba(0,0,0,0.5);
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
      overflow:hidden;
      color:#fff;
      top:0;
      display:none;
        -webkit-transition: 2s;
        transition: 2s;
    }
    
    .gallery_product:hover .img-info{
      display:block;
       -webkit-transition: 2s;
        transition: 2s;
    }
    
    /*	end gallery */
@media only screen and (max-width: 768px) {
  .gallery-item {
    flex: 1 0 calc(50% - 20px);
  }
}

/*	end gallery */

/* footer  */

.social-icon {
  font-size: 24px; /* Adjust the size as needed */
  margin-right: 10px; /* Adjust the space between icons */
  background: linear-gradient(45deg, #278d27, #f97D09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.work-img img {
  transition: transform 0.3s ease-in-out;
  position: relative;
  vertical-align: middle;
}

.work-img:hover img {
  transform: scale(1.1); /* Adjust the scaling factor as needed */
}
#Work .row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

